:root {
--color-primary : #79D8E4;
--color-secundary : #48A7F0;
--color-text : black;
--text-title :'Times New Roman', Times, serif;
--text-content: Verdana, Geneva, Tahoma, sans-serif;
}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: var(--color-primary);

}
h1,h2,h3,h4,h5,h6,p {

    color: var(--color-text);
}

section .welcome img {

    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px ;
}

header section .text h1  {

    font-family: var(--text-title);
    font-size: 250%;
    margin-left: 5%;
    
}

header section .text .content {

    font-family: var(--text-content);
    font-style: italic;
    font-size: 150%;
    margin: 10px 30px
}


.menu {
    background: var(--color-secundary);
    width: 100%;
    position:sticky;
    display: flex;
    z-index: 100;
    justify-content:space-around;
    bottom: 0
}

.menu ul {

    list-style: none;
    overflow: hidden
}

.menu ul li{

    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.menu ul li a {
    display:flex;
    padding: 20px;
    color: var(--color-text);
    text-decoration: none;
}
.menu ul li:hover {
    background: var(--color-primary);
}

.menu ul li a img {

    width: 40px;
}

main .title{
    font-family: var(--text-title);
    text-align: center;
    font-size: 50px;
    margin: 20px;
}

main .cards {

    background: var(--color-secundary);
    margin: 1% 5%;
    
}

main .cards .card h2 {

    font-family: var(--text-title);
    font-size: 30px;
    margin: 10PX;
    
}

main .cards .card img:hover {

    height: 150px;
    border-radius:50%;
    box-shadow: 0px 0px 15px 15px var(--color-primary);
    
}